<form method="POST" action="/notes/save">
    <input type="hidden" name="docrate" value='<%=docreate ? "create": "update"%'/>
    <p>Key:
        {{#if docreate}}
        <input type="text" name="notekey" value=""/>
        {{else}}
        {{#if note }} {{notekey}} {{/if}}
        <input type="hidden" name="notekey" value="{{ #if note }} {{ notekey }} {{/if}}" />
        {{/if}}
    </p>
    <p>Title: <input type="text" name="title" value="{{#if note }} {{/if}}"/></p>
    <br/>
    <textarea name="body" cols=40 rows=5>{{#if note}} {{note.body}} {{/if}}</textarea>
    <br/>
    <input type="submit" value="Submit"/>
</form>